
@{
    ViewBag.Title = "Soru Sor";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">label_outline</i>
                <input id="icon_prefix" type="text" class="baslik validate" value="">
                <label for="icon_prefix">Başlık</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="icerik materialize-textarea"></textarea>
                <label for="icon_prefix2">Soru içeriği</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">loyalty</i>
                <div class="chips chips-placeholder"></div>
            </div>
           
        </div>
    </form>
    <button id="kaydet" class="btn waves-effect blue-grey lighten-1">
        Gönder
        <i class="material-icons right">send</i>
    </button>
</div>


<script>
    $('.chips-placeholder').material_chip({
        placeholder: 'Etiket Gir',
        secondaryPlaceholder: '+Etiket Ekle',
    });
    $('#textarea1').val('New Text');
    $('#textarea1').trigger('autoresize');

    $(function () {
        $("#kaydet").click(function () {
            var soru = {
                Baslik : $(".baslik").val(),
                Icerik: $(".icerik").val()
            };
            var etiketler = [];
            $(".chip").each(function () {
                etiketler.push({ EtiketAdi: $(this).text().slice(0, -5) });
            });
            if (etiketler[0] != null || soru.Baslik != "" || soru.Icerik != "") {
                $.post("/Profil/SoruyuKaydet", { soru: soru, etiketler: etiketler }, function (sonuc) {
                    if (sonuc) {
                        Materialize.toast('Sorunuz başarıyla kaydedildi.', 2000);
                        window.location = "/Profil/Index";
                    }
                    else
                        Materialize.toast('Bağlantı hatası!', 2000);
                });
            }
            else
                Materialize.toast('Boş alan bırakmayın!', 2000);
        });
    });
</script>


