@model kodusorClient.kodusorServis.Kullanicilar
@{
    ViewBag.Title = "KayitOl";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>KayitOl</h2>

<form>
    <input id="kAdi" type="text" name="kullaniciAd" value="" />
    <input id="kSoyadi" type="text" name="kullaniciSoyad" value="" />
    <input id="mail" type="text" name="mail" value="" />
    <input id="parola" type="text" name="parola" value="" />
    <input id="parolaT" type="text" name="parolaT" value="" />

    
</form>
<button id="KayitOl">Kayıt Ol</button>
<script>
    $(function () {
        console.log("Çalıştı ");
        $("#KayitOl").click(function () {
            if ($("#parola").val() == $("#parolaT").val()) {
                var kullanici = {
                    Adi: $("#kAdi").val(),
                    Soyadi: $("#kSoyadi").val(),
                    Mail: $("#mail").val(),
                    Parola: $("#parola").val()
                };
                cosole.log(kullanici);
                $.post("../Home/kayit", kullanici, function (sonuc) {
                    if (sonuc == true)
                        alert(sonuc + "Sonucç Başarılı");
                    else
                        alert("başarısız");
                });
            }
            else {
                alert("Parolalar uyuşmuyor");
            }
        });
    });
</script>

