<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper blue-grey lighten-1">
            <div class="container" style="width:944px">
                <a href="/" class="brand-logo"><img src="~/Images/logo.png" style="margin-top:10px;" /></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Anasayfa</a></li>
                    @if (Session["kullaniciID"] == null)
                    {
                        <li><a href="#modalGiris">Soru Sor</a></li>
                        <li><a href="#modalKayıt">Kayıt Ol</a></li>
                        <li><a href="#modalGiris">Giriş Yap</a></li>
                    }
                    else
                    {
                        <li><a href="/Profil/Index">Profil</a></li>
                        <li><a href="/Profil/SoruSor">Soru Sor</a></li>
                        <li><a id="cikisyap">Çıkış</a></li>
                    }
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/">Anasayfa</a></li>
                    @if (Session["kullaniciID"] == null)
                    {
                        <li><a href="#modalGiris">Soru Sor</a></li>
                        <li><a href="#modalKayıt">Kayıt Ol</a></li>
                        <li><a href="#modalGiris">Giriş Yap</a></li>
                    }
                    else
                    {
                        <li><a href="/Profil/Index">Profil</a></li>
                        <li><a href="/Profil/SoruSor">Soru Sor</a></li>
                        <li><a id="cikisyap">Çıkış</a></li>
                    }
                </ul>
            </div>

        </div>
    </nav>
    <!-- Navbar Bitiş -->
    <!-- Kayıt Ol Modal -->
    <div id="modalKayıt" class="modal">
        <div class="modal-content">
            <h5>Kayıt Ol</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="kAdi" type="text" class="validate" value="" />
                            <label for="icon_prefix">Adınız</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="kSoyadi" type="text" class="validate" value="" />
                            <label for="icon_prefix">Soyadınız</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="mail" type="text" class="validate" value="" />
                            <label for="icon_prefix">E-posta</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="parola" type="password" class="validate" value="" />
                            <label for="icon_prefix">Parola</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="parolaT" type="password" class="validate" value="" />
                            <label for="icon_prefix">Parola Doğrula</label>
                        </div>
                    </div>
                </form>
                <div class="center-align">
                    <button id="KayitOl" class="waves-effect waves-light btn">Kayıt Ol</button>
                    <button id="mGiris" href="#modalGiris" class="waves-effect light-green darken-1 btn">Giriş Yap</button>
                </div>

            </div>

        </div>
    </div>
    <!-- Kayıt Ol Modal Bitiş -->
    <!-- Giriş Yap Modal -->
    <div id="modalGiris" class="modal">
        <div class="modal-content">
            <h5>Giriş Yap</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="girismail" type="text" class="validate" value="" />
                            <label for="icon_prefix">E-posta</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="girisparola" type="password" class="validate" value="" />
                            <label for="icon_prefix">Parola</label>
                        </div>
                    </div>
                </form>
                <div class="center-align">
                    <button id="GirisYap" class="waves-effect light-green darken-1 btn">Giriş Yap</button>
                    <button id="mKayit" href="#modalKayıt" class="waves-effect waves-light btn">Kayıt Ol</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Giriş Yap Modal Bitiş -->
    <div class="container" style="width:944px">
        <div class="row">
            <div class="col s12">@RenderBody()</div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer blue-grey lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Hakkımızda</h5>
                    <p class="grey-text text-lighten-4">Kodusor, yazılım dünyasında yaşanan problemlerin çözümü odaklı etkileşimli bir yardımlaşma platformudur.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 kodusor.com
            </div>
        </div>
    </footer>
    <!-- Footer Bitiş -->
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.modal').modal();
        });
    </script>
    <script>
        $(function () {
            //KAYIT OL BAŞLANGIÇ
            $("#KayitOl").click(function () {
                if ($("#parola").val() == $("#parolaT").val()) {
                    var kullanici = {
                        Adi: $("#kAdi").val(),
                        Soyadi: $("#kSoyadi").val(),
                        Mail: $("#mail").val(),
                        Parola: $("#parola").val()
                    };
                    $.post("/Home/kayit", kullanici, function (sonuc) {
                        if (sonuc == "+") {
                            $("#modalKayıt").modal('close');
                            $("#modalGiris").modal('open');
                            Materialize.toast('Kayıt başarılı.', 3000)
                        }
                        else if (sonuc == "-")
                            Materialize.toast('Mail adresi zaten kayıtlı!', 3000)
                        else
                            Materialize.toast('Veritabanı bağlantı hatası!', 3000)
                    });
                }
                else {
                    Materialize.toast('Parolalar uyuşmuyor!', 3000)
                }
            });
            //KAYIT OL BİTİŞ
            //GİRİŞ YAP BAŞLANGIÇ
            $("#GirisYap").click(function () {
                var mail = $("#girismail").val();
                var parola = $("#girisparola").val();
                console.log(mail);
                console.log(parola);
                $.post("/Home/GirisKontrol", { mail: mail, parola: parola }, function (sonuc) {
                    if (sonuc == "+") {
                        Materialize.toast('Giriş başarılı.', 2000)
                        window.location = "../../Profil/Index";
                    }
                    else
                        Materialize.toast('Giriş başarısız!', 3000)
                });
            });
            //GİRİŞ YAP BİTİŞ
            //ÇIKIŞ YAP BAŞLANGIÇ
            $("#cikisyap").click(function () {
                $.post("/Profil/Cikis", "", function (sonuc) {
                    if (sonuc == "+") {
                        Materialize.toast('Çıkış başarılı.', 2000)
                        window.location = "/";
                    }
                });
            });
            //ÇIKIŞ YAP BİTİŞ
            //MODALLAR
            $("#mGiris").click(function () {
                $("#modalKayıt").modal('close');
                $("#modalGiris").modal('open');
            });
            $("#mKayit").click(function () {
                $("#modalGiris").modal('close');
                $("#modalKayıt").modal('open');
            });
        });
    </script>
</body>
</html>