
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper blue-grey lighten-1">
            <div class="container" style="width:944px">
                <a href="#!" class="brand-logo">kodusor.com</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#soruSor">Soru Sor</a></li>
                    <li><a id="cikis">Çıkış Yap</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#soruSor">Soru Sor</a></li>
                    <li><a id="cikis">Çıkış Yap</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- Navbar Bitiş -->
    <div class="container" style="width:944px">
        <div class="row">
            <div class="col s12">@RenderBody()</div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer blue-grey lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Hakkımızda</h5>
                    <p class="grey-text text-lighten-4">Kodusor, yazılım dünyasında yaşanan problemlerin çözümü odaklı etkileşimli bir yardımlaşma platformudur.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 kodusor.com
            </div>
        </div>
    </footer>
    <!-- Footer Bitiş -->
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('.modal').modal();

            $("#cikis").click(function () {
                console.log("çıkış");
                $.post("../Profil/Cikis", "", function (sonuc) {
                    if (sonuc == "+") {
                        console.log("çıkış yapıldı");
                        window.location = "/Home/Index";
                    }
                });
            });
        });
    </script>
</body>
</html>
